@model SenseIt.Services.Data.Admin.Models.Product.AdminProductDetailsViewModel;

@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div class="container">
    <div class="card mb-3" style="background-color: mistyrose">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Model.ImageUrl" style="height: 400px;" class="img-fluid rounded-start m-1" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center pb-4">@Model.Name</h5>
                    <hr />
                    <p class="card-text text-center pb-4">@Model.Category</p>
                    <hr />
                    <p class="card-text text-center pb-4">@Model.Description</p>
                    <hr />
                    <p class="card-text text-center pb-4">$@Model.Price</p>
                    <p class="text-center">
                        <a asp-area="Administration" asp-controller="Products" asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-outline-secondary">Edit Product Details</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

