@model SenseIt.Web.ViewModels.Appointments.UserAppointmentViewModel
@{
    this.ViewData["Title"] = "Sense It";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@this.ViewData["Title"]</title>

    <style>
        .arrow-right {
            position: absolute;
            top: 20%;
            right: 45%;
        }

        .arrow-left {
            position: absolute;
            top: 20%;
            left: 45%;
        }
    </style>
</head>
<body>
    <div class="card m-3">
        <div class="row">
            <div class="col-5 m-3">
                <h3 class="text-center text-success">Service Details</h3>
                <div class="card">
                    <img src="@Model.ServiceImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ServiceName</h5>
                        <p class="card-text">@Model.ServiceDescription</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Duration: </strong><span class="text-muted">@Model.ServiceDurationAsText</span></li>
                        <li class="list-group-item"><strong>Category: </strong><span class="text-muted">@Model.ServiceCategoryName</span></li>
                        <li class="list-group-item"><strong>$ </strong><span class="text-muted">@Model.ServicePrice</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-1 m-3">
                <span><i class="fas fa-angle-double-left fa-2x arrow-left text-success"></i><i class="fas fa-angle-double-right fa-2x arrow-right text-success"></i></span>
            </div>
            <div class="col-5 m-3">
                <h3 class="text-center text-success">Customer Details</h3>

                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Name: <span class="text-muted">@Model.CustomerFullName</span></h5>
                        <p class="card-text"><strong>Additional Notes: <span class="text-muted">@Model.AdditionalNotes</span></strong></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Age: <span class="text-muted">@Model.CustomerAge</span></strong></li>
                        <li class="list-group-item"><strong>Date and Time: <span class="text-muted">@Model.StartDate</span></strong></li>
                    </ul>
                </div>
                <div class="mt-3 me-4 position-absolute end-0">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Cancel Appointment
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel this appointment?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <div>
                        <form asp-action="Cancel" method="post">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal">Confirm</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts{
    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
}