@model SenseIt.Web.ViewModels.Appointments.AppointmentIndexViewModel;

@{
    this.ViewData["Title"] = "Sense It";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body {
            font-family: 'Quicksand', sans-serif;
            background: #eee
        }

        .modalContainer {
            height: 300px;
        }


        .close:focus {
            outline: 1px dotted #fff !important
        }

        .archiveModal-body {
            padding: 0rem !important
        }

        .archiveModal-title {
            color: #fff
        }

        .archiveModal-header {
            background-color: forestgreen;
            color: #fff !important
        }

        .fa-times {
            color: black
        }

        .heading {
            font-weight: 500 !important
        }

        .subheadings {
            font-size: 12px;
            color: #9c27b0
        }

        .dots {
            height: 10px;
            width: 10px;
            background-color: green;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px
        }

        .gallery img {
            margin-right: 10px
        }

        .fs-9 {
            font-size: 9px
        }
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">

</head>
<body>
    <h2 class="text-center text-success m-3">Book Service Appointment</h2>

    <div class="card">
        <div class="row">
            <div class="col-lg-3">
                <div class="card m-3" style="width: 18rem;">
                    <img src=@Model.AppService.ImageUrl class="card-img-top" alt="Service Image">
                    <div class="card-body">
                        <h5 class="card-title">@Model.AppService.Name</h5>
                        <p class="card-text">@Model.AppService.ShortDescription</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h6><strong>Category</strong></h6>@Model.AppService.CategoryName</li>
                        <li class="list-group-item"><h6><strong>Duration</strong></h6>@Model.AppService.DurationAsText</li>
                        <li class="list-group-item"><h6><strong>User</strong></h6>@Model.Username</li>
                        <li class="list-group-item"><h6><strong>Price</strong></h6>$@Model.AppService.Price.ToString("F2")</li>
                    </ul>
                    <div class="card-body">
                        <a asp-controller="AppServices" asp-action="ByCategory" asp-route-id="@Model.AppService.CategoryId" class="btn btn-sm btn-outline-success">All</a>
                        <a asp-controller="Reviews" asp-action="Add" asp-route-id="@Model.AppService.Id" class="btn btn-sm btn-outline-info">Write Review</a>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card m-3 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Special Service Information</h5>
                        <div class="row">
                            <p class="card-text">We try to provide our customers with the best conditions for conducting our services. This is the reason we will need additional information about the person using the service.</p>
                            
                            <div class="row mt-3">
                                <h5 class="text-center pb-2">Benefits:</h5>
                                <div class="col-6">

                                    <ul>
                                        <li class="text-muted">
                                            <p>Personal Experianse</p>
                                        </li>
                                        <li class="text-muted">
                                            <p>Personal Experianse</p>
                                        </li>
                                        <li class="text-muted">
                                            <p>Personal Experianse</p>
                                        </li>
                                        <li class="text-muted">
                                            <p>Personal Experianse</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li class="text-muted">
                                            <p>Personal Experianse</p>
                                        </li>
                                        <li class="text-muted">
                                            <p>Personal Experianse</p>
                                        </li>
                                        <li class="text-muted">
                                            <p>Personal Experianse</p>
                                        </li>
                                        <li class="text-muted">
                                            <p>Personal Experianse</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <a class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo">Add Additional Information</a>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Enter Customer Data</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="mb-3">
                                                <label class="col-form-label">Full Name:</label>
                                                <input type="text" asp-for="Appointment.CustomerFullName" class="form-control" name="CustomerFullName">
                                                <span asp-validation-for="Appointment.CustomerFullName" class="text-danger"></span>
                                            </div>

                                            <div class="mb-3">
                                                <label class="col-form-label">Age:</label>
                                                <input type="number" asp-for="Appointment.CustomerAge" class="form-control" name="CustomerAge" />
                                                <span asp-validation-for="Appointment.CustomerAge" class="text-danger"></span>

                                            </div>

                                            <div class="mb-3">
                                                <label class="col-form-label">Date And Time:</label>
                                                <input type="datetime-local" asp-for="Appointment.StartDate" class="form-control" name="StartDate" />
                                                <span asp-validation-for="Appointment.StartDate" class="text-danger"></span>                                              
                                            </div>



                                            <div class="mb-3">
                                                <label class="col-form-label">Additional Notes: <small>(optional)</small></label>
                                                <textarea asp-for="Appointment.AdditionalNotes" class="form-control" name="AdditionalNotes"></textarea>
                                                <span asp-validation-for="Appointment.AdditionalNotes" class="text-danger"></span>

                                            </div>
                                            <input type="hidden" name="ServiceId" value="@Model.AppService.Id" />
                                            <div class="modal-footer">
                                                <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                                <button class="btn btn-outline-success" asp-controller="Appointments" asp-action="Book">Confirm Appointment</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>

                <!-- Button trigger modal -->
                <div class="container d-flex justify-content-center mt-5">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#archiveModal">
                        Your Active Appointments
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="archiveModal" tabindex="-1" aria-labelledby="archiveModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header archiveModal-header">
                                <h5 class="modal-title archiveModal-title" id="archiveModalLabel">Appointments Information</h5> <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            @if (!Model.ActiveAppointments.Any())
                            {
                                <h4 class="text-center">You have no active appointments</h4>
                            }
                            else
                            {

                                <div class="modal-body archiveModal-body">
                                    <div class="row g-0">
                                        <div class="col-md-8 border-right">
                                            <div class="status p-3">
                                                @foreach (var app in Model.ActiveAppointments)
                                                {
                                                    <div class="container-fluid modalContainer">
                                                        <table class="table table-borderless">

                                                            <tbody>
                                                                <tr>
                                                                    <td class="pt-4">
                                                                        <div class="d-flex flex-column"> <span class="heading d-block">Full Name</span> <span class="subheadings">@app.CustomerFullName</span> </div>
                                                                    </td>
                                                                    <td class="pt-4">
                                                                        <div class="d-flex flex-column"> <span class="heading d-block">Age</span> <span class="subheadings">@app.CustomerAge</span> </div>

                                                                    </td>
                                                                    <td class="pt-4">
                                                                        <div class="d-flex flex-column"> <span class="heading d-block">Status</span> <span class="subheadings"><i class="dots"></i>@app.Status </span> </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="pt-4">
                                                                        <div class="d-flex flex-column"> <span class="heading d-block">Date/Time</span> <span class="subheadings">@app.StartDate</span> </div>

                                                                    </td>
                                                                    <td class="pt-4">
                                                                        <div class="d-flex flex-column"> <span class="heading d-block">Additional Notes</span> <span class="subheadings">@app.AdditionalNotes</span> </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="pt-4">
                                                                        <div class="d-flex flex-column"> <span class="heading d-block">Contact</span> <span class="subheadings">52, Maria Block, Victoria Road, CA USA</span> </div>
                                                                    </td>
                                                                    <td class="pt-4" colspan="2">
                                                                        <div class="d-flex flex-column"> <span class="heading d-block">Direction</span> <span class="d-block subheadings">Get direction by using</span> <span class="d-flex flex-row"> <img src="https://img.icons8.com/color/100/000000/google-maps.png" class="rounded" width="30" /> <img src="https://img.icons8.com/color/100/000000/pittsburgh-map.png" class="rounded" width="30" /> </span> </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <hr />
                                                }

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="pt-3 text-center">
                                                @foreach (var app in Model.ActiveAppointments)
                                                {
                                                    <div class="container-fluid modalContainer">
                                                        <div class="profile"> <img src=@app.ServiceImageUrl width="100" class="rounded-circle img-thumbnail"> <span class="d-block mt-3 font-weight-bold">@app.ServiceName</span> </div>
                                                        <div class="about-doctor">
                                                            <table class="table table-borderless">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="d-flex flex-column"> <span class="heading d-block">Category</span> <span class="subheadings">@app.ServiceCategoryName</span> </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="d-flex flex-column"> <span class="heading d-block">Price</span> <span class="subheadings">$@app.ServicePrice.ToString("F2")</span> </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="d-flex flex-column"> <span class="heading d-block">Duration</span> <span class="subheadings">@app.ServiceDuration.ToString().Substring(0, 5)</span> </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="d-flex flex-column"><form method="post"><button class="btn btn-sm btn-outline-danger" asp-action="Cancel" asp-route-id="@app.Id" asp-route-appServiceId="@Model.AppService.Id">Cancel</button></form> </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>

                @*<div class="col-lg-9" id="calendar"></div>*@
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</body>
</html>


@*<partial name="_AddAppointment"/>*@

