@model List<SenseIt.Web.ViewModels.Admin.AppServices.AdminAppServiceListingViewModel>;
@using SenseIt.Common
@{
    this.ViewData["Title"] = "Admin dashboard";
    var counter = 1;
}
<div class="tab-content">
        <h1 class="text-center font-weight-light">Service Management</h1>
        <hr />
        <table id="servicesTable" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Description</th>
                    <th scope="col" class="text-center">Category</th>
                    <th scope="col" class="text-center">Duration</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Details</th>
                    <th scope="col" class="text-center">Delete/Undelete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model)
                {
                    var description = service.Description.Length > 20 ? service.Description.Substring(0, 20) + "..." : service.Description;

                <tr>
                    <th scope="row" class="text-center">@counter</th>
                    <td class="text-center">@service.Name</td>
                    <td class="text-center">@description</td>
                    @if (service.CategoryName == GlobalConstants.MissingCategoryValue)
                    {
                        <td class="text-center text-danger">@service.CategoryName</td>
                    }
                    else
                    {
                        <td class="text-center">@service.CategoryName</td>
                    }
                    <td class="text-center">@service.Duration</td>
                    <td class="text-center">@service.Price $</td>
                    <td class="text-center">
                        <a asp-area="Administration" asp-controller="AppServices" asp-action="Details" asp-route-Id="@service.Id" class="btn btn-outline-primary mx-1">Details</a>
                    </td>
                    @if (service.IsDeleted)
                    {
                        <td class="text-center">
                            <a asp-area="Administration" asp-controller="AppServices" asp-action="Undelete" asp-route-Id="@service.Id" class="btn btn-outline-success mx-1 bi bi-trash">Undelete</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-center">
                            <a asp-area="Administration" asp-controller="AppServices" asp-action="Delete" asp-route-Id="@service.Id" class="btn btn-outline-danger mx-1 bi bi-trash">Delete</a>
                        </td>
                    }
                </tr>

                    counter++;
                }
            </tbody>
        </table>
        <hr />
        <div class="container-fluid">
            <div class="text-center">
                <a asp-area="Administration" asp-controller="AppServices" asp-action="Add" class="btn btn-outline-info mx-1">Add New Service</a>
            </div>
        </div>
    </div>


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#servicesTable').DataTable();
        });
    </script>
}




