@model SenseIt.Web.ViewModels.Products.ProductsPagingViewModel;
@{
    this.ViewData["Title"] = "Sense It";

    var categories = Model.Categories;
    var genders = Model.Genders;
}

<title>@this.ViewData["Title"]</title>

<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Shop By</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Gender
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        @foreach (var gender in genders)
                        {
                            <li><a class="text-decoration-none" asp-action="ByGender" asp-route-gender=@gender>@gender</a></li>
                        }
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Category
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        @foreach (var category in categories)
	                    {
                                <li><a class="text-decoration-none" asp-action="ByCategory" asp-route-category="@category">@category</a></li>
	                    }                           
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" asp-action="All" asp-route-id="1">All</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <form class="d-flex" asp-action="Search" method="get">
                        <input class="form-control me-2" type="text" placeholder="Name..." name="keyword" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    @*<form asp-action="Search" method="get">
                        <p>
                            Name or Brand: <input type="text" name="keyword" />
                            <input type="submit" value="Search" />
                        </p>
                    </form>*@
                </div>
            </div>
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <partial name="_IndividualProductCard" model="product" />
                    <div class="modal fade" id="quantityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Choose Quantity</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="quantity-form" asp-action="AddToCart">
                                        <div class="mb-3">
                                            <label for="quantity" class="col-form-label">Quantity:</label>
                                            <input type="number" min="1" name="quantity" class="form-control" id="quantity">
                                        </div>
                                       
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" form="quantity-form" asp-action="AddToCart" asp-route-productId="@product.Id">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <nav aria-label="...">
                <ul class="pagination justify-content-end">
                    <li class="page-item @if (!Model.HasPreviousPage) {<text>disabled</text>}">
                        <a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">Previous</a>
                    </li>
                    @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
                    {
                        if (i > 0)
                        {
                            <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>}
                        }

                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">@Model.PageNumber</a>
                    </li>
                    @for (int i = Model.PageNumber + 1; i < Model.PageNumber + 3; i++)
                    {
                        if (i <= Model.PagesCount)
                        {
                            <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>}
                        }
                    <li class="page-item @if (!Model.HasNextPage) {<text>disabled</text>}">
                        <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>

