@model List<SenseIt.Services.Data.Admin.Models.Categories.CategoriesListingViewModel>;
@{
    this.ViewData["Title"] = "Admin dashboard";
    var counter = 1;
}
<div class="tab-content">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h1 class="text-center font-weight-light">Categories Management</h1>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Services Count</th>
                <th scope="col" class="text-center">Edit</th>
                <th scope="col" class="text-center">Delete/Undelete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr class="table">
                    <th scope="row" class="text-center">@counter</th>
                    <td class="text-center">@category.Name</td>
                    <td class="text-center">@category.ProductsCount</td>
                    <td class="text-center">
                        <a asp-area="Administration" asp-controller="ServiceCategories" asp-action="Edit" asp-route-Id="@category.Id" class="btn btn-outline-info mx-1">Edit</a>
                    </td>
                    @if (category.IsDeleted)
                    {
                        <td class="text-center">
                            <a asp-area="Administration" asp-controller="ServiceCategories" asp-action="Undelete" asp-route-Id="@category.Id" class="btn btn-outline-success mx-1 bi bi-trash">Undelete</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-center">
                            <a asp-area="Administration" asp-controller="ServiceCategories" asp-action="Delete" asp-route-Id="@category.Id" class="btn btn-outline-danger mx-1 bi bi-trash">Delete</a>
                        </td>
                    }
                </tr>

                counter++;
            }
        </tbody>
    </table>
    <hr />
    <div class="container-fluid">
        <div class="text-center">
            <a asp-area="Administration" asp-controller="ServiceCategories" asp-action="Add" class="btn btn-lg btn-outline-primary mx-1">Add New Category</a>
        </div>
    </div>
</div>

