@model SenseIt.Web.ViewModels.Reviews.CreateReviewInputModel;
@using static SenseIt.Common.GlobalConstants.Review;
@{
    this.ViewData["Title"] = "Sense It";
}

<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>

    <div>
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" style="height: 400px" src="@Model.AppService.ImageUrl" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="@Model.AppService.ImageUrl">
                                                <img class="card-img img-fluid" src="@Model.AppService.ImageUrl" alt="Product Image 1">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="@Model.AppService.ImageUrl" alt="Product Image 2">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="@Model.AppService.ImageUrl" alt="Product Image 3">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">@Model.AppService.Name</h1>
                            <p class="h3 py-2">$@Model.AppService.Price.ToString("F2")</p>
                            <p class="py-2">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <span class="list-inline-item text-dark">Rating @Model.AppService.OverallRating &nbsp | &nbsp @Model.AppService.ReviewsCount <a class="btn btn-sm text-capitalize" asp-controller="Reviews" asp-action="ServiceReviews" asp-route-id="@Model.AppServiceId">Reviews</a></span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Duration:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>@Model.AppService.DurationAsText</strong></p>
                                </li>
                            </ul>

                            <h6>Description:</h6>
                            <p>@Model.AppService.Description</p>

                            <h6>Category:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>@Model.AppService.CategoryName</li>
                            </ul>


                            <form action="" method="GET">
                                <input type="hidden" name="appService-name" value="@Model.AppService.Name">
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Book Appointment</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form class="form-group row" method="post">
            <div class="input-group pb-5 col-6">
                <span class="input-group-text">Write Your Review</span>
                <textarea asp-for="Content" class="form-control" id="tinyMce"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class=" col-2 input-group pb-5 ">
                <span class="input-group-text col-2">Rating</span>
                <input type="number" id="ratingBox" asp-for="Rating" class="form-control col-2" />
                
            </div>

            <div class="row">
                <div class="col">
                    <input type="submit" onclick="return validateInput()" class="btn btn-outline-success" asp-action="Add" asp-route-id="@Model.AppServiceId" />
                </div>
            </div>
        </form>
    </div>


    <script src="https://cdn.tiny.cloud/1/xvkwiavb02ht7zusxc1g7vo34xetij95ggytl1jcevvrichm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>


</html>

@section Scripts{
    <script>
        tinymce.init({
            selector: '#tinyMce',
            plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            height: 300,
            width: "100%"
        });

        function validateInput() {

            if (document.getElementById("ratingBox").value < 1 ||
                    document.getElementById("ratingBox").value > 5) {

                Swal.fire(
                    'Error!',
                    'Your input is not valid!',
                    'error'
                )

            } else {

                Swal.fire(
                    'Success!',
                    'You submited review successfully',
                    'success'
                )
            }
            
        }
        
    </script>
}
