@using SenseIt.Web.ViewModels.Reviews;

@model IEnumerable<UserReviewsViewModel> 
@{
    this.ViewData["Title"] = "Sense It";
}

<div class="container container-fluid">

    <h2 class="text-center text-success mt-3">Your Reviews</h2>
    @foreach (var review in Model)
    {
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4" @*style="height: 200px; width: 300px;*@>
                    <img src=@review.AppServiceImageUrl class="img-fluid rounded-start" alt="imageUrl" style="height: 300px; width: 500px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@review.AppServiceName</h5>
                        <p class="card-text">@Html.Raw(review.Content)</p>
                        <div style="position: absolute; bottom: 0; right: 0;">
                            <i class="list-inline-item text-info fas fa-user-edit"><span class="text-secondary"> @review.PostedBy</span></i>
                            <i class="far fa-calendar-alt"><span class="text-secondary"> @review.PostedOn</span></i>
                            @for (int i = 0; i < review.Rating; i++)
                            {
                                <i class="text-warning fas fa-star"></i>
                            }

                            @for (int i = review.Rating; i < 5; i++)
                            {
                                <i class="far fa-star"></i>
                            }
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@review.Id">
                                <i class="fas fa-trash-alt text-dark"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    

    }

</div>

